<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Main/Important Meta -->
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="canonical" href="https://pullakmohapatra.io">

    <!-- Icons -->
    <link rel="apple-touch-icon" href="/images/me.jpg">
    <link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48 64x64" href="https://brennan.io/favicon.ico">

    <!-- Styles -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">

    <!-- Meta information -->
    <meta name="author" content="Pullak Mohapatra">
    <meta name="description" content="Pullak Mohapatra's personal website and blog.">
    <meta name="keywords" content="blog programming student resume technology talks">

</head>

<body>
	<div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        &copy; Copyright 2008 by <a href="http://domain.invalid/">you</a>.
    </div>
</body>

</html>
